<div class="container app ">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
      <div class="alert alert-success alert-dismissable" role= "alert" *ngIf="message">
        <a href="#" class="close" (click)="closeAlert()"> &times; </a>
        {{message}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col-sm-4 col-md-4 col-lg-4 ">
      <img src="../assets/image/task.png">
    </div>
    <div class="col-xs-2 col-sm-12 col-md-8   col-lg-8">
      <h2>Crear Dato:</h2>
      <form class="form-horizontal ">
        <div class="form-group ">

          <label for="name" class="control-label col-sm-2"> Nombre </label>
          <div class=" col-sm-10 ">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Ingresa nombre">
          </div>
        </div>
        
          <div class="form-group">
            <label for="cargo" class="control-label col-sm-2"> Cargo </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="position" [(ngModel)]="model.position" placeholder="Ingresa el cargo">
            </div>

          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-2"> Email </label>
            <div class="col-sm-10">

                <input type="text" class="form-control" id="name" name="email" [(ngModel)]="model.email" placeholder="Ingresa el email">


            </div>

          </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-success" (click)="addEmployee()"> Guardar 
              <i class="fas fa-address-book"></i>
          </button>

        </div>
        
      </div>
      </form>
    </div>
  </div>
  <div class="row"> 
    <div class="col-xs-6 col-sm-12 col-md-8   col-lg-8">
      <h2>Datos:</h2>
      <table class="table table-bordered  ">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i= index">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.email}}</td>
            <td>
              <button (click)="editEmployee(i)" class="btn btn-success anchoeditar"> Editar <i class="fas fa-edit"></i></button> 
              <br/>
              <button (click)="deleteEmployee(i)" class="btn btn-danger "> Eliminar <i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-4" [hidden]="hideUpdate">
        <h2>Editando Datos:</h2>
        <form class="form-horizontal">
          <div class="form-group">
              <label for="name" class="control-label col-sm-2"> Nombre </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Ingresa nombre">
            </div>
          </div>
          
            <div class="form-group">
              <label for="cargo" class="control-label col-sm-2"> Cargo </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="position" [(ngModel)]="model2.position" placeholder="Ingresa el cargo">
              </div>
  
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-sm-2"> Email </label>
              <div class="col-sm-10">
  
                <input type="text" class="form-control" id="name" name="email" [(ngModel)]="model2.email" placeholder="Ingresa el email">
  
              </div>
  
            </div>
  
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success anchoeditar" (click)="updateEmployee()"> Editar 
                <i class="fas fa-edit"></i>
            </button>
            <button type="submit" class="btn btn-danger" (click)="cancelEdit()"> Cancelar 
              <i class="fas fa-times-circle"></i>
          </button>
          </div>
  
        </div>
        </form>
      </div>
  </div>
</div>
